*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

:root{
    --white:#e5e1da;
    --beige: #b29589;
    --orange:#c9461f;
    --yelow: #e09a52;
    --green: #6c8f40;
    --yelowGold: yellow;
    --green: #9d9196;
    --greeLight:#e8eaea;
    --green2:#bcc2c0;
}

body{
   height: 100vh;
   width: 100vw;
   font-family: 'Roboto';
   display: flex;
   justify-content: center;
   /*background: linear-gradient(0.25turn,var(--orange), var(--yelow), var(--beige), var(--white));*/
   background: linear-gradient(0.25turn,var(--white), var(--beige));  
}

.container{
    height: 90%;
    width: 80%;

    background-color: var(--white);
    -webkit-box-shadow: 10px -7px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px -7px 26px 0px rgba(0,0,0,0.75);
    box-shadow: 10px -7px 26px 0px rgba(0,0,0,0.75);

    border-radius: 176px 0px 48px 48px;
    -moz-border-radius: 176px 0px 48px 48px;
    -webkit-border-radius: 176px 0px 48px 48px;
    border: 1px solid #000000;

    opacity: 90%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 13% 1fr 60%;
    gap: 0.5rem;

    grid-template-areas: 
    "navbar header header"
    "navbar sidebar1 sidebar1"
    "navbar sidebar2 sidebar3";

   
}

.header{
    background-color:var(--greeLight);
    border-radius: 0.3rem;
    grid-area: header;
    display: flex;
    text-align: center;
 
}
.navbar{
    background-color:var(--green);
    border-radius: 0.3rem;
    grid-area: navbar;
    display:grid;
    margin: 1rem .8rem;
    opacity: 80%;
    
}
/*******NAVBAR*/

.logo{
    height: 50%;
    width: 90%;
    margin: 0 auto;
    background: var(--beige);
    display: grid;
    place-content: center;
    border-radius: .5rem;
    margin-top: .5rem;
}

.link{
    height: 50%;
    width: 90%;
    margin: 0 auto;
    /*background: var(--beige);*/
    display: grid;
    place-content: center;
    border-radius: .5rem;
    margin-top: .5rem;
    gap: 1rem;


}

.link a{
    text-decoration: none;
    font-family: 'Roboto';
    color: #000000;
    padding: .5rem;
    border-radius: .5rem;
    color: var(--orange);
}

.link a:hover{
    background: var(--orange);
    color: var(--white);
}


/*******HEADER*/
.header div{
    height: 70%;
    width: 30%;
   /* background-color: #9d9196;*/
    justify-content: space-evenly;
    margin: .8rem .8rem;

}

.nameUser{
    display:inline-flex;
    text-align: end;
    color: var(--orange);
    font-size: 25px;
    font-family: 'Caveat';
    
    margin-top: 2rem;

}

.fa-circle-user{
    font-size: 25px;
    color: var(--orange);
}

.logoBodegon{
    height: 100%;
    width: 40%;
    border-radius: .5rem;
}


.seach{
    
    display: inline;
}
.input-seach{
    width: 90%;
    font-size: 15px;
    border-radius: .5rem;
    border-style: none;
    padding: .2rem;
    margin-top: 1.8rem;
    
}


/*******SIDEBAR*/
.sidebar1{
    grid-area: sidebar1;
    background: var(--yelow);
    border-radius: .2rem;
    box-shadow: 0.2rem 0.2rem var(--green);
    opacity: 80%;
    
}

.sidebar2{
    grid-area: sidebar2;
    background: var(--yelow);
    border-radius: .2rem;
    box-shadow: 0.2rem 0.2rem var(--green);
    opacity: 80%;
    margin-bottom: .5rem;
    
}
.sidebar3{
    grid-area: sidebar3;
    background: var(--yelow);
    border-radius: .2rem;
    box-shadow: 0.2rem 0.2rem var(--green);
    opacity: 80%;
    margin-bottom: .5rem;
}