*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

:root{
    --white:#e5e1da;
    --beige: #b29589;
    --orange:#c9461f;
    --yelow: #e09a52;
    --green: #6c8f40;
    --yelowGold: yellow;
}

body{
   height: 100vh;
   background:  black;  
   font-family: 'Roboto';
   display: flex;
   justify-content: center;
  
   
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background:  black;
    height: 90%;
    width: 70%;
    margin-top: 2rem;
    
}

.sidebar-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-radius: 0.8rem 0 0 .8rem;
    background:  linear-gradient(to bottom,  var(--beige),var(--white));
}

.logo{
    display: grid;
    place-content: center;
    padding: 3rem;
    
}

.logo img{
    height: 15rem;
    width: 15rem;
}

.user, .password  {
    font-size: 18px;
    width: 20rem;
    padding: 0.2rem;
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid var(--beige);
    background:transparent;
    margin-bottom: 0.8rem;
}

.btn-login, .btn-checkIn{
    font-size: 15px;
    margin-top: 3rem;
    border-radius: 1rem;
    height: 1.5rem;
    width: 8rem;
    margin: 0 auto;
    background-color: var(--white);
}

.btn-login:hover, .btn-checkIn:hover{
    transform: scale(1.1);
    cursor: pointer;
 }

.btn-checkIn{
    background: var(--beige);
}
.sidebar-left p{
    margin-top: 9rem;
    font-size: 18px;
    text-align: center;
    margin-bottom: 1rem;
}




/*/////////////////////izquierda/////////////////////////////*/

.sidebar-right{
    display: grid;
    place-content: center;
    width: 50%;
    height: 100%;
    background-color:var(--yelow); 
    border-radius: 0 .8rem .8rem 0;
   
}

.sidebar-right span{
    display: flex;

    justify-content: center;
    
    
}

.span1, .span3, spa{
    margin-top: 15rem;
    font-family: 'Caveat';
    font-size: 25px;
    Color:var(--white);
}

.span2{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 25px;
    color: black;
}
.span3{
    margin-top: 10rem ;
    font-family: 'Caveat';
    font-size: 30px;
    Color:var(--white);
}